<div class="row">
  <div class="col">
    <div>
      <div class="float-left">
        <h1>Products</h1>
        <p>This component lists all products.</p>
      </div>
      <div class="float-right mt-4">
        <button class="btn btn-outline-primary" [routerLink]="['/products/add']">
          <i class="icon ion-md-add-circle-outline"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-auto">
    <input type="text" id="filter" name="filter" class="form-control" placeholder="Search by name..." [(ngModel)]="searchText">
  </div>
  <div class="col-auto">
    <select id="currency" name="currency" class="form-control" [(ngModel)]="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="GBP">GBP</option>
      <option value="CAD">CAD</option>
    </select>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-primary" (click)="apply()">
      <i class="icon ion-md-checkmark-circle-outline"></i> Apply
    </button>  
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th class="text-center" width="150">Price ({{ currency }})</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | filter: searchText : 'name'">
            <td>{{ product.name }}</td>
            <td class="text-center">{{ product.price | currency:product.currency }}</td>
          </tr>
          <tr *ngIf="!products.length">
            <td colspan="2">No products were found 🙄</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>