<div class="row">
  <div class="col">
    <div>
      <div class="float-left">
        <h1>Packages</h1>
        <p>This component lists all packages.</p>
      </div>
      <div class="float-right mt-4">
        <button class="btn btn-outline-primary" [routerLink]="['/packages/add']">
          <i class="icon ion-md-add-circle-outline"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-auto">
    <input type="text" id="filter" name="filter" class="form-control" placeholder="Search by name..." [(ngModel)]="searchText">
  </div>
  <div class="col-auto">
    <select id="currency" name="currency" class="form-control" [(ngModel)]="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="GBP">GBP</option>
      <option value="CAD">CAD</option>
    </select>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-primary" (click)="apply()">
      <i class="icon ion-md-checkmark-circle-outline"></i> Apply
    </button>  
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="text-center" width="100">Products</th>
            <th class="text-center" width="150">Price ({{ currency }})</th>
            <th class="text-center" width="130"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let package of packages | filter: searchText : 'name'">
            <td>
              <a [routerLink]="['/packages/details/', package.id]">{{ package.name }}</a>
            </td>
            <td>{{ package.description }}</td>
            <td class="text-center">{{ package.products.length }}</td>
            <td class="text-center">{{ package.price | currency:package.currency }}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-outline-primary" (click)="addToCart(package)" ngbTooltip="Add to cart">
                <i class="icon ion-md-add"></i>
              </button>&nbsp;
              <button class="btn btn-sm btn-outline-primary" ngbTooltip="Edit" [routerLink]="['/packages/edit/', package.id]">
                <i class="icon ion-md-create"></i>
              </button>&nbsp;
              <button class="btn btn-sm btn-outline-danger" (click)="remove(package)" ngbTooltip="Delete">
                <i class="icon ion-md-trash"></i>
              </button>
            </td>
          </tr>

          <tr *ngIf="!packages.length">
            <td colspan="5">No packages were found 🙄</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>