$grid-gutter-width: 15px !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/ngx-toastr/toastr.css";

.ng-valid[required], .ng-valid.required  {
  border-left: 3px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 3px solid #a94442; /* red */
}

.validation-error {
  background-color: #f8d7da;
  color: #721c24;
  font-size: small;
  padding: 10px;
  border-radius: 4px;
  margin-top: 5px;
}