<div class="row">
  <div class="col">
    <h1>{{ package?.name }}</h1>
    <p *ngIf="package?.description.length">{{ package?.description }}</p>
  </div>
</div>

<div class="row">
  <div class="col-auto">
    <select id="currency" name="currency" class="form-control" [(ngModel)]="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <option value="GBP">GBP</option>
      <option value="CAD">CAD</option>
    </select>
  </div>
  <div class="col-auto">
    <button class="btn btn-outline-primary" (click)="apply()">
      <i class="icon ion-md-checkmark-circle-outline"></i> Apply
    </button>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Product</th>
            <th class="text-center" width="150">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of package?.products">
            <td>{{ product.name }}</td>
            <td class="text-center">{{ product.price | currency:'USD' }}</td>
          </tr>
          <tr>
            <td class="bg-success text-white">Package price ({{ package?.currency }})</td>
            <td class="bg-success text-white text-center">{{ package?.price | currency:package?.currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="btn btn-lg btn-block btn-outline-primary" (click)="addToCart()" *ngIf="!addedToCart">
      <i class="icon ion-md-add-circle-outline"></i> Add to Cart  
    </button>

    <div class="alert alert-success" role="alert" *ngIf="addedToCart">
      Added to your shopping cart 🎄
    </div>
  </div>
</div>