<div class="row">
  <div class="col">
    <h1>Shopping Cart</h1>
    <p>Review your packages & checkout when you're ready.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="table-responsive" *ngIf="(cartStore.packages$ | async).length">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="text-center" width="150">Price</th>
            <th class="text-center" width="40"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let package of cartStore.packages$ | async">
            <td>{{ package.name }}</td>
            <td>{{ package.description }}</td>
            <td class="text-center">{{ package.price | currency:package.currency }}</td>
            <td class="text-center">
              <button class="btn btn-outline-danger" (click)="remove(package.id)">
                <i class="icon ion-md-trash"></i>
              </button>
            </td>
          </tr>
          <tr class="bg-info text-white">
            <td colspan="2">Total Price (USD)</td>
            <td class="text-center">{{ cartStore.totalPrice | currency:'USD' }}</td>
            <td></td>
          </tr>
          <tr class="bg-success text-white" *ngIf="cartStore.hasDiscount">
            <td colspan="2">After 10% discount</td>
            <td class="text-center">{{ cartStore.discountPrice | currency:'USD' }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="alert alert-primary" role="alert" *ngIf="!(cartStore.packages$ | async).length">
      Your cart is empty. Head over to <a [routerLink]="['/packages']">Packages</a> and add some 🐲
    </div>
  </div>
</div>