<div class="row">
  <div class="col">
    <h1>Edit package</h1>
    <p>Change the metadata, add/remove products and click submit.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <form name="packageForm" (ngSubmit)="onSubmit()" #packageForm="ngForm" novalidate>
      <!-- name -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control"
          required minlength="4" maxlength="50"
          [(ngModel)]="viewModel.name" #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validation-error">
          Name is required.
        </div>

        <div *ngIf="name.invalid && name.errors.minlength" class="validation-error">
          Name must be at least 4 characters long.
        </div>  
      </div>

      <!-- description -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" class="form-control"
          maxlength="500" [(ngModel)]="viewModel.description" #description="ngModel">
        </textarea>
      </div>

      <!-- add products -->
      <div class="form-group">
        <label for="products">Products</label>
        <div class="form-row">
          <div class="col">
            <select id="products" name="products" class="form-control" [(ngModel)]="selectedProduct">
              <option *ngFor="let product of products" [ngValue]="product">{{ product.name }} / {{ product.price | currency:'USD' }}</option>
            </select>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary" (click)="addProduct()">
              <i class="icon ion-md-add-circle-outline"></i> Add to list
            </button>
          </div>
        </div>
      </div>

      <!-- selected products -->
      <div class="table-responsive" *ngIf="viewModel.products?.length">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th class="text-center" width="150">Price (USD)</th>
              <th class="text-center" width="40"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of viewModel.products">
              <td>{{ product.name }}</td>
              <td class="text-center">{{ product.price | currency:'USD' }}</td>
              <td class="text-center">
                <button type="button" class="btn btn-outline-danger" ngbTooltip="Remove" (click)="removeProduct(product)">
                  <i class="icon ion-md-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" class="btn btn-outline-primary" [disabled]="!packageForm.form.valid">
        <i class="icon ion-md-checkmark-circle-outline"></i> Submit
      </button>
    </form>
  </div>
</div>