<div class="row">
  <div class="col">
    <h1>Add new product</h1>
    <p>You can create new products, but can't edit or delete them.</p>

    <form name="productForm" (ngSubmit)="onSubmit()" #productForm="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control"
          required minlength="4" maxlength="50"
          [(ngModel)]="product.name" #name="ngModel">

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="validation-error">
          Name is required.
        </div>

        <div *ngIf="name.invalid && name.errors.minlength" class="validation-error">
          Name must be at least 4 characters long.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" required 
          [(ngModel)]="product.price" #price="ngModel">

        <div [hidden]="price.valid || price.pristine" class="validation-error">Price is required</div>
      </div>

      <button type="submit" class="btn btn-outline-primary" [disabled]="!productForm.form.valid">
        <i class="icon ion-md-checkmark-circle-outline"></i> Submit
      </button>
    </form>
  </div>
</div>