<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Assessment</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/packages']">Packages</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/products']">Products</a>
          </li>
        </ul>
      </div>

      <form class="form-inline ml-2">
        <button class="btn btn-sm btn-outline-success" [routerLink]="['/cart']" ngbTooltip="Shopping Cart" placement="bottom">
          <i class="icon ion-md-cart"></i>&nbsp;
          <span *ngIf="!cartStore.hasDiscount">{{ cartStore.totalPrice | currency:'USD' }}</span>
          <span *ngIf="cartStore.hasDiscount">{{ cartStore.discountPrice | currency:'USD' }} (10% discount)</span>
        </button>
      </form>
    </div>
  </nav>
</header>
